@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --backgroundColor: #00001F;
    --navbarColor: #201E38;
    --scrollPanels:#1E1E25;
    --buttonDark:#201E38;
    --buttonLight:#434069;
    --componentLight:#BFBFF2;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
